*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: lightblue;
  margin: 20px auto;
  width: 90%;
}

/*Navigation Bar*/
#main-nav {
  height: 100px;
  background: red;
  margin: 0;
  padding: 0;
  position: relative;
}

#main-nav h1 {
  text-align: center;
  margin: 0;
  line-height: 60px;
}

#main-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 75px;
  right: 75px;
}

#main-nav ul li {
  background: blue;
  flex-grow: 1;
  border-left: 2px solid black;
  transition: flex-grow .5s, background .5s;
}

#main-nav ul li a {
  text-decoration: none;
  color: black;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 40px;
  text-align: center;
}

#main-nav ul li:first-child {
  border-left: none;
}

#main-nav ul li:hover {
  flex-grow: 1.3;
  background: green;
}
/*End Navigation bar*/

#main-content {
  position: relative;
}

.column {
  width: 50%;
  margin: 30px 0;
  float: left;
  padding: 0 50px;
}

.column h2 {
  margin: 15px 0;
}

.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  height: 35px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  text-align: center;
  background: none repeat scroll 0 0 #2DB6CF;
}

.button.remove {
  background: red;
}

.button:hover {
  background: none repeat scroll 0 0 #444444;
  color: #FFFFFF;
}

.column input {
  display: block;
  height: 30px;
  width: 100%;
  margin: 15px 0;
}

.column ul {
  list-style: none;
  margin: 15px 0;
  padding: 0;
}

.column ul li {
  background: pink;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.column ul .button-group {
  float: right;
}
