{% extends "bootstrap/base.html" %}
{% block title%}Cookie Monster{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" 
      href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Cookie Monster</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('cookies.index') }}">Cookies</a></li>
        <li><a href="{{ url_for('warehouses.index') }}">Warehouses</a></li>
        <li><a href="{{ url_for('distributors.index') }}">Distributors</a></li>
        <li><a href="{{ url_for('buyers.index') }}">Buyers</a></li>
      </ul>
      <form id="signin" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input name="name" type="text" class="form-control" placeholder="Name">
          <input name="password" type="password" class="form-control" placeholder="Password">
          <button type="submit" class="btn btn-default">Sign in</button>
        </div>
        <button id="signout" class="btn btn-default">Sign out</button>
        <a href="{{ url_for('buyers.shop') }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div id="main-content" class="container-fluid">
  {% block main %}
  {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.0/mustache.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<!-- // <script src="static/script.js"></script> -->
<script>
$('form#signin').submit(function(e){
  e.preventDefault()
  var values = {}
  $.each($('form#signin').serializeArray(), function(i, field){
    if(field.value) {
      values[field.name] = field.value
    }
  })

  $.ajax('signin', {
    contentType: 'application/json',
    dataType: 'json',
    data: JSON.stringify(values),
    method: 'POST'
  })
    .done(function(data){
      if(data.ok){
        localStorage.setItem('user', values.name)
      }
    })

})

$('#signout').click(function(){
  localStorage.removeItem('user')
})
</script>
{% endblock %}
