{% extends "bootstrap/base.html" %}
{% block title%}Cookie Monster{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" 
      href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Cookie Monster</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('cookies.index') }}">Cookies</a></li>
        <li><a href="{{ url_for('warehouses.index') }}">Warehouses</a></li>
        <li><a href="{{ url_for('distributors.index') }}">Distributors</a></li>
        <li><a href="{{ url_for('buyers.index') }}">Buyers</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div id="main-content" class="container-fluid">
  {% block main %}
  {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.0/mustache.min.js"></script>
<!-- // <script src="static/script.js"></script> -->
{% endblock %}
