{% extends "base.html" %}
{% block body %}
{{ super() }}
<div class="column content">
  <h2>HI!!!</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eius quasi fuga quia laborum, ullam reprehenderit voluptates fugit minus nisi delectus inventore obcaecati odit, corporis fugiat deleniti, deserunt nostrum et, accusantium aliquid! Velit quidem tempora ad, exercitationem delectus porro consequatur, fuga quibusdam, impedit quis reiciendis maiores! Totam amet debitis neque eaque, sapiente, incidunt dignissimos tenetur obcaecati, mollitia consequuntur aperiam! Repudiandae ipsum, doloribus magni, earum ea tempora saepe libero fuga neque nostrum enim odit, laborum quaerat quae inventore? Libero quos nam, tenetur cumque! Animi corporis, ad officiis cum necessitatibus perferendis optio nesciunt natus ipsa, doloribus placeat rem ipsam facilis, dolore aspernatur.</p>
</div>

<div class="column content">
  <h2>Junk</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste placeat nobis, possimus corrupti voluptatem veniam molestiae velit a quos sunt dolores, itaque consectetur maiores repellendus, sequi voluptates fugiat aut perferendis? Officia suscipit iste vero sapiente natus numquam eveniet repellat, et velit ducimus excepturi, impedit delectus rem ex adipisci qui blanditiis rerum. Magni totam exercitationem ex eos illum rerum velit dolores alias ratione ab perspiciatis tenetur veritatis minima esse saepe commodi possimus laudantium vel, eaque excepturi deserunt. Corporis hic repellat tenetur facere sequi temporibus aut, harum voluptatum aliquid, enim numquam id, sapiente tempore reprehenderit iusto voluptatibus! Adipisci commodi unde, praesentium animi?</p>

  <h2>More Junk</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eveniet praesentium, illum non deserunt minus corporis facere dolorum sunt quis ex, ratione nulla quia, tempora incidunt? Deserunt, repudiandae quasi perspiciatis illum commodi voluptatum saepe nostrum sed debitis fuga similique sapiente quisquam libero molestiae architecto necessitatibus cum? Aut velit repellendus magni dolor inventore harum at hic voluptates, necessitatibus commodi animi dignissimos maxime officia reiciendis neque quisquam illum in porro reprehenderit, adipisci repudiandae blanditiis beatae nostrum fugiat. Placeat, dicta esse suscipit earum dolores natus magnam. Fugiat totam in deserunt natus minima obcaecati dolore sed possimus. Culpa repellat corporis omnis, eum inventore ut!</p>
</div>
{% endblock %}