<div class="column">
  <h2>Buyers</h2>
  <ul id="buyers-list">
    {{#buyers}}
    <li>
      {{name}}: {{address}}
      <div class="button-group">
        <button class="button info">Info</button>
        <button class="button edit">Edit</button>
        <button class="button remove">X</button>
      </div>
    </li>
    {{/buyers}}
  </ul>
</div>

<div class="column">
  <h2>Signup</h2>  
  <input type="text" placeholder="Name">
  <input type="text" placeholder="Address">
  <button class="button">Add</button>
</div>