{% extends "base.html" %}
{% block body %}
{{ super() }}
<div class="column">
  <h2>Buyers</h2>
  <ul id="buyers-list">
    {% for buyer in buyers %}
    <li>
      {{ buyer.name }}: ${{ buyer.price }}
      <div class="button-group">
        <button class="button info">Info</button>
        <button class="button edit">Edit</button>
        <button class="button remove">X</button>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="column">
  <h2>Signup</h2>  
  <input type="text" placeholder="Name">
  <input type="text" placeholder="Address">
  <button class="button">Add</button>
</div>
{% endblock %}