{% extends "base.html" %}
{% block main %}
{{ super() }}
<div class="col-md-6">
  <h2>Buyers <button id="add" class="btn btn-default">Add new</button></h2>
  <ul id="buyers-list" class="list-group">
    {% for buyer in buyers %}
    <button id="{{ buyer.name | replace(" ", "-") }}" class="list-group-item">
      <h4>{{ buyer.name }} <small>{{ buyer.address }}</small></h4>
    </button>
    {% endfor %}
  </ul>
</div>

<div id="side-content" class="col-md-6">
  <script id="create-template" type="x-tmpl-mustache">
  <form>
    <h2>Signup</h2>  
    <div class="form-group">
      <input name="name" type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <input name="address" type="text" class="form-control" placeholder="Address">
    </div>
    <button class="btn btn-default">Signup</button>
  </form>
  </script>

  <script id="view-template" type="x-tmpl-mustache">
  {%raw%}
  <h2>{{ name }}<button id="edit" class="btn btn-default pull-right">Edit</button></h2>
  <div class="well well-lg">
    <h4>Address <small>{{ address }}</small></h4>
    <ul class="list-group">
    {{#orders}}
      <li class="list-group-item">
        <h5>Order #{{id}}</h5>
        <h5>Total: ${{total}}</h5>
        <ul class="list-group">
          {{#cookies}}
          <li class="list-group-item">{{name}} <small>${{price}}</small></li>
          {{/cookies}}
        </ul>
      </li>
    {{/orders}}
    </ul>
  </div>
  {%endraw%}
  </script>

  <script id="edit-template" type="x-tmpl-mustache">
  {%raw%}
  <form>
    <h2>Edit</h2>  
    <div class="form-group">
      <input name="name" type="text" class="form-control" placeholder="{{ name }}">
    </div>
    <div class="form-group">
      <input name="address" type="text" class="form-control" placeholder="{{ address }}">
    </div>
    <button class="btn btn-default">Submit</button>
  </form>
  {%endraw%}
  </script>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  var createTemplate
  var viewTemplate
  var editTemplate 
  var $content
  var current = {}

  $(function(){
    createTemplate = $('#create-template').html()
    viewTemplate = $('#view-template').html()
    editTemplate = $('#edit-template').html()
    $content = $('#side-content')

    loadCreatePage()
    $("button#add").click(loadCreatePage)

    $('#buyers-list button').click(function(){
      var name = this.id.replace(/-/g, ' ')
      $.get('buyers/' + name)
        .then(function(data){
          current.name = data.name
          current.address = data.address

          var content = Mustache.render(viewTemplate, data)
          $content.html(content)
          $content.find('button#edit').click(loadEditPage)
        })
    })
  })

  function loadEditPage() {
    var content = Mustache.render(editTemplate, current)
    $content.html(content)
    $content.find('form').submit(function(e){
      e.preventDefault()
      var values = {}
      $.each($content.find('form').serializeArray(), function(i, field){
        if(field.value) {
          values[field.name] = field.value
        }
      })

      $.ajax('buyers/' + current.name, {
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(values),
        method: 'PUT'
      })
        .done(function(data){
          console.log(data)
        })
    })
  }

  function loadCreatePage() {
    $content.html(createTemplate)
    $content.find('form').submit(function(e){
      e.preventDefault()
      var values = {}
      $.each($content.find('form').serializeArray(), function(i, field){
        if(field.value) {
          values[field.name] = field.value
        }
      })

      $.ajax('buyers', {
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(values),
        method: 'POST'
      })
        .done(function(data){
          console.log(data)
        })
    })
  }
</script>
{% endblock%}