{% extends "base.html" %}
{% block body %}
{{ super() }}
<div class="column">
  <h2>Mmh. Cookies</h2>
  <ul id="cookie-list">
    {% for cookie in cookies %}
    <li>
      {{ cookie.name }}: ${{ cookie.price }}
      <div class="button-group">
        <button class="button buy">Buy</button>
        <button class="button edit">Edit</button>
        <button class="button remove">X</button>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="column">
  <h2>Create Cookie</h2>  
  <input type="text" placeholder="Name">
  <input type="text" placeholder="Price">
  <button class="button">Add</button>
</div>
{% endblock %}