{% extends "base.html" %}
{% block main %}
{{ super() }}
<div class="col-md-6">
  <h2>Mmh. Cookies</h2>
  <ul class="list-group">
    {% for cookie in cookies %}
    <li class="list-group-item">
      <h4>{{ cookie.name }} <small>${{ cookie.price }}</small></h4>
      
      <button class="btn btn-primary">Buy</button>
      <div class="btn-group">
        <button class="btn btn-default">Edit</button>
        <button class="btn btn-default">Delete</button>
      </div>      

    </li>
    {% endfor %}
  </ul>
</div>

<div class="col-md-6">
  <form>
    <h2>Create Cookie</h2>  
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Price">
    </div>
    <button class="btn btn-default">Add</button>      
  </form>

</div>
{% endblock %}