{% extends "base.html" %}
{% block main %}
{{ super() }}
<div class="col-md-6">
  <h2>Mmh. Cookies <button id="add" class="btn btn-default pull-right">Add new</button></h2>
  <ul id="cookies-list" class="list-group">
    {% for cookie in cookies %}
    <button id="{{ cookie.name | replace(" ", "-") }}" class="list-group-item">
      <span class="badge">{{ cookie.count }}</span>
      <h4>{{ cookie.name }} <small>${{ cookie.price }}</small>
        <a><span id="{{ cookie.name | replace(" ", "-") }}" class="glyphicon glyphicon-ok"></span></a>
      </h4>
    </button>
    {% endfor %}
  </ul>
</div>

<div id="side-content" class="col-md-6">
  <script id="create-template" type="x-tmpl-mustache">
  <form>
    <h2>Add Cookie</h2>  
    <div class="form-group">
      <input name="name" type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <input name="price" type="text" class="form-control" placeholder="Price">
    </div>
    <button class="btn btn-default">Submit</button>
  </form>
  </script>

  <script id="edit-template" type="x-tmpl-mustache">
  {%raw%}
  <form>
    <h2>Edit <button id="delete" class="btn btn-danger pull-right">Delete</button></h2>  
    <div class="form-group">
      <input name="name" type="text" class="form-control" placeholder="{{ name }}">
    </div>
    <div class="form-group">
      <input name="price" type="text" class="form-control" placeholder="{{ price }}">
    </div>
    <button class="btn btn-default">Submit</button>
  </form>
  {%endraw%}
  </script>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  var createTemplate
  var editTemplate 
  var $content
  var current = {}

  $(function(){
    createTemplate = $('#create-template').html()
    editTemplate = $('#edit-template').html()
    $content = $('#side-content')

    loadCreatePage()
    $("button#add").click(loadCreatePage)

    if(!localStorage.getItem('user')) {
      $('#cookies-list button span.glyphicon').addClass('hide')

    } else {
      $('#cookies-list button span.glyphicon').click(function(e){
        e.preventDefault()
        var name = this.id.replace(/-/g, ' ')
        var cookies = localStorage.getItem('cookies')
        console.log(name)
        console.log(cookies)
        if(cookies){
          cookies = JSON.parse(cookies)
          cookies.push(name)
        } else {
          cookies = [name]
        }

        console.log(cookies)
        localStorage.setItem('cookies', JSON.stringify(cookies))
      })
    }
    $('#cookies-list button').click(function(){
      var name = this.id.replace(/-/g, ' ')
      $.get('cookies/' + name)
        .then(function(data){
          console.log(data)
          current.name = data.name
          current.price = data.price

          loadEditPage()
        })
    })
  })

  function loadEditPage() {
    var content = Mustache.render(editTemplate, current)
    $content.html(content)
    $content.find('form').submit(function(e){
      e.preventDefault()
      var values = {}
      $.each($content.find('form').serializeArray(), function(i, field){
        if(field.value) {
          values[field.name] = field.value
        }
      })

      $.ajax('cookies/' + current.name, {
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(values),
        method: 'PUT'
      })
        .done(function(data){
          console.log(data)
        })
    })

    $content.find('button#delete').click(function(){
      $.ajax('cookies/' + current.name, {
        'method': 'DELETE'
      })
        .done(function(date){ console.log(data)} )
    })
  }

  function loadCreatePage() {
    $content.html(createTemplate)
    $content.find('form').submit(function(e){
      e.preventDefault()
      var values = {}
      $.each($content.find('form').serializeArray(), function(i, field){
        if(field.value) {
          values[field.name] = field.value
        }
      })

      $.ajax('cookies', {
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(values),
        method: 'POST'
      })
        .done(function(data){
          console.log(data)
        })
    })
  }
</script>
{% endblock%}