{% extends "base.html" %}
{% block main %}
{{ super() }}
<div class="col-md-6">
  <h2>Distrubtors</h2>
  <ul id="distributor-list">
    {% for dist in distributors %}
    <li>
      {{dist.name}}: {{dist.address}}
      <div class="button-group">
        <button class="button buy">Info</button>
        <button class="button edit">Edit</button>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="col-md-6">
  <h2>Create Distributor</h2>  
  <input type="text" placeholder="Name">
  <input type="text" placeholder="Address">
  <button class="button">Add</button>
</div>
{% endblock %}