{% extends "base.html" %}
{% block main %}
{{ super() }}
<div class="col-md-6">
  <h2>Distrubtors</h2>
  <button class="btn btn-default">Add new</button>
  <ul class="list-group">
    {% for dist in distributors %}
    <button class="list-group-item">
      <h4>{{dist.name}} <small>{{dist.address}}</small></h4>
    </button>
    {% endfor %}
  </ul>
</div>

<div class="col-md-6">
  <form>
    <h2>Create Buyer</h2>  
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Address">
    </div>
    <button class="btn btn-default">Add</button>
  </form>
</div>
{% endblock %}